Repository boostcampwm-2021/android01-CalendaRun, pull requests merged in 2021-11, with the labels that each got.

#4 [App] Data Layer 구성
  README.md
  app/build.gradle
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/entity/Calendar.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/entity/CheckPoint.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/data/room/Converters.kt
  app/src/main/java/com/drunkenboys/calendarun/data/room/Database.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/entity/Schedule.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleLocalDataSourceImpl.kt
Labels: App

#7 달력 라이브러리 모듈 생성
  library/.gitignore
  library/build.gradle
  library/consumer-rules.pro
  library/proguard-rules.pro
  library/src/androidTest/java/com/drunkenboys/ckscalendar/ExampleInstrumentedTest.kt
  library/src/main/AndroidManifest.xml
  library/src/main/java/com/drunkenboys/ckscalendar/MonthAdapter.kt
  library/src/test/java/com/drunkenboys/ckscalendar/ExampleUnitTest.kt
  settings.gradle
Labels: Library

#9 Hilt 적용
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/drunkenboys/calendarun/App.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/di/CoroutineModule.kt
  app/src/main/java/com/drunkenboys/calendarun/di/DataSourceModule.kt
  app/src/main/java/com/drunkenboys/calendarun/di/LocalModule.kt
  build.gradle
Labels: Feature, App

#11 BaseClass 추가
  app/src/main/java/com/drunkenboys/calendarun/ui/base/BaseActivity.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/base/BaseFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/base/BaseViewHolder.kt
Labels: documentation, App

#14 AddScheduleFragment 레이아웃 작성
  app/src/main/java/com/drunkenboys/calendarun/ui/addschedule/AddScheduleFragment.kt
  app/src/main/res/drawable/bg_add_schedule_tag_color.xml
  app/src/main/res/drawable/ic_assignment.xml
  app/src/main/res/drawable/ic_calendar_today.xml
  app/src/main/res/drawable/ic_notifications.xml
  app/src/main/res/drawable/ic_palette.xml
  app/src/main/res/layout/fragment_add_schedule.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
Labels: App, Layout

#15 AddCalendarFragment 레이아웃 작성 및 날짜 선택 기능 추가
  app/src/main/java/com/drunkenboys/calendarun/ui/AddCalendarFragment.kt
  app/src/main/res/drawable/ic_check_box_20.xml
  app/src/main/res/layout/fragment_add_calendar.xml
  app/src/main/res/layout/view_check_point.xml
  app/src/main/res/values/strings.xml
Labels: Feature, App, Layout

#18 일정 추가, 수정 기능 구현
  app/build.gradle
  app/src/main/java/com/drunkenboys/calendarun/MainActivity.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/entity/Schedule.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/addschedule/AddScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/model/BehaviorType.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/model/ScheduleNotificationType.kt
  app/src/main/java/com/drunkenboys/calendarun/util/LiveDataExt.kt
  app/src/main/java/com/drunkenboys/calendarun/util/SingleLiveEvent.kt
  app/src/main/res/drawable/bg_save_schedule_tag_color.xml
  app/src/main/res/layout/fragment_save_schedule.xml
  app/src/main/res/layout/item_drop_down_list.xml
  app/src/main/res/values/arrays.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
  app/src/test/java/com/drunkenboys/calendarun/data/schedule/local/FakeScheduleLocalDataSource.kt
  app/src/test/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModelTest.kt
Labels: Feature, App

#23 일정 추가/수정 분기 처리
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/entity/Schedule.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/DeleteScheduleDialog.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/model/ScheduleNotificationType.kt
  app/src/main/res/drawable/ic_delete.xml
  app/src/main/res/layout/fragment_save_schedule.xml
  app/src/main/res/menu/menu_save_schedule_toolbar.xml
  app/src/main/res/navigation/nav_temp.xml
  app/src/main/res/values/arrays.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModelTest.kt
Labels: Feature, App

#22 체크포인트 뷰 추가, ViewModel 적용
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/AddCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/addcalendar/AddCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/addcalendar/AddCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/addcalendar/CheckPointModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/addcalendar/adapter/AddCalendarRecyclerViewAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/util.kt
  app/src/main/res/drawable/ic_add_circle_24.xml
  app/src/main/res/layout/fragment_add_calendar.xml
  app/src/main/res/layout/view_check_point.xml
  app/src/main/res/layout/view_check_point_footer.xml
  app/src/main/res/values/strings.xml
Labels: Feature, App, Layout

#24 YearCalendarView 추가
  app/build.gradle
  library/build.gradle
  library/src/main/java/com/drunkenboys/ckscalendar/FakeFactory.kt
  library/src/main/java/com/drunkenboys/ckscalendar/data/CalendarDesignObject.kt
  library/src/main/java/com/drunkenboys/ckscalendar/data/ScheduleColorType.kt
  library/src/main/java/com/drunkenboys/ckscalendar/utils/TimeUtils.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearPageAdapter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearPageViewHolder.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearViewType.kt
  library/src/main/res/layout/item_year_header.xml
  library/src/main/res/layout/item_year_page.xml
  library/src/main/res/layout/layout_year_calendar.xml
  library/src/main/res/values/dimens.xml
  library/src/main/res/values/strings.xml
Labels: Feature, Library, Layout

#27 일정 삭제 기능 구현
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/DeleteScheduleDialog.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/model/DateType.kt
  app/src/main/res/layout/fragment_save_schedule.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/com/drunkenboys/calendarun/data/schedule/local/FakeScheduleLocalDataSource.kt
  app/src/test/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModelTest.kt
Labels: documentation, App

#29 Year Calendar View 개선
  library/src/main/java/com/drunkenboys/ckscalendar/FakeFactory.kt
  library/src/main/java/com/drunkenboys/ckscalendar/utils/TimeUtils.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearPageAdapter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearPageViewHolder.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearViewType.kt
  library/src/main/res/layout/item_year_page.xml
Labels: Feature, Library

#31 Hotfix fix: 문자열 리소스 수정
  app/src/main/res/values/strings.xml
Labels: 🔥Hot Fix, App

#37 MainActivity 내비게이션 구성
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/res/drawable/ic_add.xml
  app/src/main/res/drawable/ic_calendar_today_white.xml
  app/src/main/res/drawable/ic_search_white.xml
  app/src/main/res/drawable/ic_share_white.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_main_calendar.xml
  app/src/main/res/menu/menu_main_calendar_toolbar.xml
  app/src/main/res/navigation/nav_main.xml
  app/src/main/res/values/strings.xml
Labels: Feature, App

#32 addCalendar 화면 수정
  app/src/main/java/com/drunkenboys/calendarun/ui/addcalendar/AddCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/addcalendar/AddCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/addcalendar/adapter/AddCalendarRecyclerViewAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/util/util.kt
  app/src/main/res/layout/fragment_add_calendar.xml
  app/src/main/res/layout/view_check_point.xml
  app/src/main/res/layout/view_check_point_footer.xml
Labels: Feature, App, Layout

#33 MonthCalendarView 패딩 버그수정, 디자인 화이트로 변경
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthAdapter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthPageAdapter.kt
  library/src/main/res/layout/item_month_cell.xml
  library/src/main/res/layout/item_month_page.xml
  library/src/main/res/layout/layout_month_calendar.xml
Labels: bug, Feature, Library

#38 SearchTaskFragment 레이아웃 작성
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleFragment.kt
  app/src/main/res/font/inter_medium.ttf
  app/src/main/res/layout/fragment_search_schedule.xml
  app/src/main/res/layout/item_date.xml
  app/src/main/res/layout/item_date_schedule.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: App, Layout

#41 SearchScheduleFragment 내비게이션 구성
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleFragment.kt
  app/src/main/res/layout/fragment_search_schedule.xml
  app/src/main/res/navigation/nav_main.xml
  app/src/main/res/values/themes.xml
Labels: Feature, App

#46 일정 검색 리사이클러 뷰 구현
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/HorizontalInsetDividerDecoration.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/model/DateItem.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/model/DateScheduleItem.kt
  app/src/main/java/com/drunkenboys/calendarun/util/ContextExt.kt
  app/src/main/res/anim/slide_in_left.xml
  app/src/main/res/anim/slide_in_right.xml
  app/src/main/res/anim/slide_out_left.xml
  app/src/main/res/anim/slide_out_right.xml
  app/src/main/res/layout/fragment_search_schedule.xml
  app/src/main/res/layout/item_date.xml
  app/src/main/res/layout/item_date_schedule.xml
  app/src/main/res/navigation/nav_main.xml
Labels: Feature, App

#43 체크포인트 날짜 입력 기능 구현
  app/src/main/java/com/drunkenboys/calendarun/MainActivity.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/addcalendar/AddCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/addcalendar/CheckPointModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/addcalendar/adapter/AddCalendarRecyclerViewAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/CheckPointItem.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/adapter/SaveCalendarRecyclerViewAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/util/Extension.kt
  app/src/main/res/drawable-xhdpi/ic_check_box_normal_18.xml
  app/src/main/res/drawable/ic_check_box_pressed_18.xml
  app/src/main/res/drawable/ic_menu_24.xml
  app/src/main/res/drawable/selector_check_box_18.xml
  app/src/main/res/layout/fragment_main_calendar.xml
  app/src/main/res/layout/fragment_save_calendar.xml
  app/src/main/res/layout/item_check_point.xml
  app/src/main/res/menu/menu_save_calendar_toolbar.xml
  app/src/main/res/navigation/nav_main.xml
  app/src/main/res/values/strings.xml
Labels: Feature, App, Layout

#49 Hotfix fix: 빌드 에러 수정
  app/src/main/java/com/drunkenboys/calendarun/MainActivity.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/base/BaseActivity.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/adapter/SaveCalendarRecyclerViewAdapter.kt
  app/src/main/res/layout/item_check_point.xml
Labels: 🔥Hot Fix

#53 체크포인트 정보 데이터바인딩 적용
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/adapter/SaveCalendarRecyclerViewAdapter.kt
  app/src/main/res/layout/item_check_point.xml
  app/src/main/res/navigation/nav_main.xml
Labels: Feature, App, Layout

#52 일정 검색 기능 구현
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleViewModel.kt
  app/src/main/res/layout/fragment_search_schedule.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleViewModelTest.kt
Labels: Feature, App

#55 Month, Year CalendarView 토글 추가
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/res/layout/fragment_main_calendar.xml
  app/src/main/res/navigation/nav_main.xml
  library/src/androidTest/java/com/drunkenboys/ckscalendar/ExampleInstrumentedTest.kt
  library/src/main/AndroidManifest.xml
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearPageViewHolder.kt
  library/src/main/res/layout/item_year_header.xml
  library/src/main/res/layout/item_year_page.xml
  library/src/test/java/com/drunkenboys/ckscalendar/ExampleUnitTest.kt
Labels: Feature, App, Layout

#56 내비게이션 파라미터 전달 방식 변경
  app/src/main/java/com/drunkenboys/calendarun/data/idstore/IdStore.kt
  app/src/main/java/com/drunkenboys/calendarun/di/AppModule.kt
  app/src/main/java/com/drunkenboys/calendarun/di/Qualifiers.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/model/DateScheduleItem.kt
  app/src/main/res/layout/item_date_schedule.xml
  app/src/main/res/navigation/nav_main.xml
  app/src/test/java/com/drunkenboys/calendarun/data/schedule/local/FakeCalendarLocalDataSource.kt
  app/src/test/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModelTest.kt
Labels: Feature, App

#57 메인 캘린더에 DrawerLayout 적용
  app/src/main/java/com/drunkenboys/calendarun/MainActivity.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/res/layout/fragment_main_calendar.xml
  app/src/main/res/values/strings.xml
Labels: Feature, App, Layout

#60 Hotfix fix: MonthCalendarView.kt 페이지 미리로딩 제거
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthCalendarView.kt
Labels: 🔥Hot Fix

#62 Drawer 디자인, 기능 구현
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarRecyclerViewAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/model/CheckPointItem.kt
  app/src/main/res/drawable/ic_favorite_24.xml
  app/src/main/res/drawable/ic_settings.xml
  app/src/main/res/layout/drawer_header.xml
  app/src/main/res/layout/fragment_main_calendar.xml
  app/src/main/res/layout/item_check_point.xml
  app/src/main/res/menu/menu_drawer.xml
  app/src/main/res/navigation/nav_main.xml
  app/src/main/res/values/strings.xml
Labels: Feature, App, Layout

#64 태그 색 변경 기능 구현
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/util/ViewExt.kt
  app/src/main/res/anim/hide_scale_down.xml
  app/src/main/res/anim/show_scale_up.xml
  app/src/main/res/drawable/bg_tag_color.xml
  app/src/main/res/drawable/bg_white_radius_8dp.xml
  app/src/main/res/layout/fragment_save_schedule.xml
  app/src/main/res/layout/item_date_schedule.xml
  app/src/main/res/layout/view_pick_tag_color.xml
Labels: Feature, App

#65 yearCalendarView 컴포즈로 변경
  build.gradle
  library/build.gradle
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearPageAdapter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearPageViewHolder.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearViewType.kt
  library/src/main/res/layout/item_year_header.xml
  library/src/main/res/layout/item_year_page.xml
  library/src/main/res/layout/layout_year_calendar.xml
Labels: Library, Layout

#67 앱 테마 색상 설정
  app/src/main/res/layout/fragment_main_calendar.xml
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/themes.xml
Labels: App, Layout

#69 Drawer 메뉴 아이템 동적 추가, 내부 DB에서 캘린더 조회
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarViewModel.kt
  app/src/main/res/layout/fragment_main_calendar.xml
  app/src/main/res/menu/menu_drawer.xml
Labels: Feature, App, Layout

#72 Hotfix fix: MenuItem이 중복되는 오류 수정
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
Labels: 🔥Hot Fix

#71 달력 클릭 Listener 추가, 달력 선택 기능 구현
  library/src/main/java/com/drunkenboys/ckscalendar/data/CalendarDate.kt
  library/src/main/java/com/drunkenboys/ckscalendar/listener/OnDayClickListener.kt
  library/src/main/java/com/drunkenboys/ckscalendar/listener/OnDaySecondClickListener.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthAdapter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthPageAdapter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/OnDaySelectStateListener.kt
  library/src/main/res/drawable/bg_month_date_selected.xml
  library/src/main/res/layout/item_month_cell.xml
  library/src/main/res/values/colors.xml
Labels: Feature, Library

#74 YearCalendar 성능 개선
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarController.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarHeader.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarView.kt
Labels: bug, Library

#77 알림 기능 구현
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/drunkenboys/calendarun/App.kt
  app/src/main/java/com/drunkenboys/calendarun/MainActivity.kt
  app/src/main/java/com/drunkenboys/calendarun/data/idstore/IdStore.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/entity/Schedule.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/di/AppModule.kt
  app/src/main/java/com/drunkenboys/calendarun/receiver/BootReceiver.kt
  app/src/main/java/com/drunkenboys/calendarun/receiver/ScheduleAlarmModel.kt
  app/src/main/java/com/drunkenboys/calendarun/receiver/ScheduleAlarmReceiver.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/util/PendingIntentExt.kt
  app/src/main/java/com/drunkenboys/calendarun/util/ScheduleExt.kt
  app/src/test/java/com/drunkenboys/calendarun/data/schedule/local/FakeScheduleLocalDataSource.kt
  app/src/test/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModelTest.kt
  app/src/test/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleViewModelTest.kt
Labels: Feature, App

#75 Year Calendar 클릭 리스너 생성
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarView.kt
Labels: Feature, Library

#78 캘린더 DB에 추가 기능 구현
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/entity/Calendar.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/entity/CheckPoint.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarRecyclerViewAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/util/DateConverter.kt
  app/src/main/java/com/drunkenboys/calendarun/util/DatePickerDialog.kt
  app/src/main/res/layout/fragment_save_calendar.xml
  app/src/test/java/com/drunkenboys/calendarun/data/schedule/local/FakeCalendarLocalDataSource.kt
Labels: Feature, App, Layout

#80 앱 아이콘 추가
  app/src/main/AndroidManifest.xml
  app/src/main/res/drawable/ic_main_background.xml
  app/src/main/res/mipmap-anydpi-v26/ic_main.xml
  app/src/main/res/mipmap-anydpi-v26/ic_main_round.xml
  app/src/main/res/mipmap-hdpi/ic_main.png
  app/src/main/res/mipmap-hdpi/ic_main_foreground.png
  app/src/main/res/mipmap-hdpi/ic_main_round.png
  app/src/main/res/mipmap-mdpi/ic_main.png
  app/src/main/res/mipmap-mdpi/ic_main_foreground.png
  app/src/main/res/mipmap-mdpi/ic_main_round.png
  app/src/main/res/mipmap-xhdpi/ic_main.png
  app/src/main/res/mipmap-xhdpi/ic_main_foreground.png
  app/src/main/res/mipmap-xhdpi/ic_main_round.png
  app/src/main/res/mipmap-xxhdpi/ic_main.png
  app/src/main/res/mipmap-xxhdpi/ic_main_foreground.png
  app/src/main/res/mipmap-xxhdpi/ic_main_round.png
  app/src/main/res/mipmap-xxxhdpi/ic_main.png
  app/src/main/res/mipmap-xxxhdpi/ic_main_foreground.png
  app/src/main/res/mipmap-xxxhdpi/ic_main_round.png
  library/src/main/ic_main-playstore.png
  library/src/main/res/drawable/ic_main_background.xml
Labels: App

#84 mainFragment 내부 DB 연동
  app/src/main/java/com/drunkenboys/calendarun/MainActivity.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/data/idstore/IdStore.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/entity/Schedule.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/receiver/ScheduleAlarmReceiver.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleViewModel.kt
  app/src/test/java/com/drunkenboys/calendarun/data/schedule/local/FakeCalendarLocalDataSource.kt
  app/src/test/java/com/drunkenboys/calendarun/data/schedule/local/FakeScheduleLocalDataSource.kt
Labels: Feature, App

#82 스케줄 보여주는 기능 추가
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthAdapter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthPageAdapter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/utils/TimeUtils.kt
  library/src/main/java/com/drunkenboys/ckscalendar/utils/ViewExtensions.kt
  library/src/main/res/layout/item_month_cell.xml
Labels: Feature, Library

#85 YearCalendar 스케줄 표시 기능 추가
  library/src/main/java/com/drunkenboys/ckscalendar/FakeFactory.kt
  library/src/main/java/com/drunkenboys/ckscalendar/utils/TimeUtils.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarController.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarView.kt
  library/src/test/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarControllerTest.kt
Labels: Feature, Library, Layout

#91 체크포인트 뷰 추가 오류 및 날짜 오류 수정
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarRecyclerViewAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
Labels: bug, 🔥Hot Fix

#89 자잘한 이슈 수정 및 리팩터링
  app/src/main/java/com/drunkenboys/calendarun/MainActivity.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/entity/Schedule.kt
  app/src/main/java/com/drunkenboys/calendarun/receiver/BootReceiver.kt
  app/src/main/java/com/drunkenboys/calendarun/receiver/ScheduleAlarmReceiver.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/DeleteScheduleDialog.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/HorizontalInsetDividerDecoration.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/ContextExt.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/FragmentExt.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/LiveDataExt.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/PendingIntentExt.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/ScheduleExt.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/ViewExt.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/ViewHolderExt.kt
  app/src/main/res/values/strings.xml
Labels: Feature, App

#95 스케줄 정렬 버그 수정
  library/src/main/java/com/drunkenboys/ckscalendar/data/CalendarDesignObject.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthAdapter.kt
Labels: bug, 🔥Hot Fix, Feature

#97 Date 타입 형 변환
  app/build.gradle
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/entity/Calendar.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/entity/CheckPoint.kt
  app/src/main/java/com/drunkenboys/calendarun/data/room/Converters.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/entity/Schedule.kt
  app/src/main/java/com/drunkenboys/calendarun/receiver/BootReceiver.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/model/DateScheduleItem.kt
  app/src/main/java/com/drunkenboys/calendarun/util/DateConverter.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/ScheduleExt.kt
Labels: App, refactor

#96 Year Calendar 테마 변경하는 기능 구현
  library/src/main/java/com/drunkenboys/ckscalendar/FakeFactory.kt
  library/src/main/java/com/drunkenboys/ckscalendar/data/CalendarDesignObject.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarHeader.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarView.kt
Labels: Feature, Library

#101 YearCalendar 리팩토링
  library/src/main/java/com/drunkenboys/ckscalendar/utils/CalendarDataExtensions.kt
  library/src/main/java/com/drunkenboys/ckscalendar/utils/TimeUtils.kt
  library/src/main/java/com/drunkenboys/ckscalendar/utils/ViewExtensions.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarController.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarHeader.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarView.kt
  library/src/main/res/layout/layout_year_calendar.xml
  library/src/test/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarControllerTest.kt
Labels: Library, refactor

#98 CalendarScheduleObject LocalDate를 LocalDateTime으로 변경
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  library/src/main/java/com/drunkenboys/ckscalendar/data/CalendarScheduleObject.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthAdapter.kt
Labels: Feature, Library

#108 ScheduleObject: LocalDate -> LocalDateTime
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarViewModel.kt
  library/src/main/java/com/drunkenboys/ckscalendar/FakeFactory.kt
  library/src/main/java/com/drunkenboys/ckscalendar/data/CalendarDesignObject.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarController.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarView.kt
Labels: bug, Library

#107 MonthCalendarView 테마 설정 추가
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  library/src/main/java/com/drunkenboys/ckscalendar/data/CalendarDesignObject.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthAdapter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthPageAdapter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/utils/ViewExtensions.kt
  library/src/main/res/layout/item_month_cell.xml
Labels: Feature, Library

#109 MainCalendarFragment 메뉴 디자인
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/util/DateConverter.kt
  app/src/main/res/layout/drawer_header.xml
  app/src/main/res/values/strings.xml
Labels: bug, App, Layout

#115 Year Calendar 버벅임 해결
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarView.kt
Labels: bug, Library

#113 LocalDateTime 대응
  app/src/main/java/com/drunkenboys/calendarun/ui/dayschedule/DayScheduleAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/dayschedule/DayScheduleDialog.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/dayschedule/DayScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModel.kt
  app/src/main/res/layout/dialog_day_schedule.xml
  app/src/main/res/navigation/nav_main.xml
Labels: bug, App

#114 ViewPager in RecyclerView 성능 개선을 위해 코루틴 적용
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthAdapter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthPageAdapter.kt
Labels: Feature, Library

#118 MainCalendarFragment.kt setupFab 누락 추가, import 정리
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
Labels: bug, 🔥Hot Fix

#117 navController 초기화 위치 변경
  app/src/main/java/com/drunkenboys/calendarun/ui/base/BaseFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleFragment.kt
Labels: App, refactor

#120 MainCalendarFragment 디자인 구현
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/util/DateConverter.kt
  app/src/main/res/color/navigation_item_background_color.xml
  app/src/main/res/color/navigation_item_color.xml
  app/src/main/res/layout/fragment_main_calendar.xml
  app/src/main/res/navigation/nav_main.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/themes.xml
Labels: Feature, App, Layout

#121 컴포즈 실험실기능 제거
  library/src/main/java/com/drunkenboys/ckscalendar/utils/TimeUtils.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarController.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarView.kt
  library/src/test/java/com/drunkenboys/ckscalendar/utils/UtilsTest.kt
Labels: bug, Library

#130 LiveData -> Flow 마이그레이션
  app/build.gradle
  app/src/main/java/com/drunkenboys/calendarun/ui/dayschedule/DayScheduleDialog.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/dayschedule/DayScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/model/CheckPointItem.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/util/SingleLiveEvent.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/FragmentExt.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/LiveDataExt.kt
  app/src/test/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModelTest.kt
  app/src/test/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleViewModelTest.kt
  build.gradle
Labels: App, chore, refactor, test

#128 스케줄 TextView 높이에 맞는 fontSize로 자동적용
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthAdapter.kt
Labels: bug, Feature, Library

#134 Drawer SubMenu 추가
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/res/values/strings.xml
Labels: App, Layout

#133 리팩터링 몇 가지
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/entity/Schedule.kt
  app/src/main/java/com/drunkenboys/calendarun/di/LocalDatabaseModule.kt
  app/src/main/java/com/drunkenboys/calendarun/receiver/BootReceiver.kt
  app/src/main/java/com/drunkenboys/calendarun/receiver/ScheduleAlarmModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/dayschedule/DayScheduleAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/dayschedule/DayScheduleDialog.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/model/CheckPointItem.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/model/DateItem.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/model/DateScheduleItem.kt
  app/src/main/java/com/drunkenboys/calendarun/util/DateConverter.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/ScheduleExt.kt
  app/src/main/res/layout/fragment_save_calendar.xml
  app/src/main/res/layout/item_check_point.xml
Labels: App, refactor

#137 Drawer가 열리지 않는 오류 수정
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
Labels: bug, 🔥Hot Fix

#135 YearCalednar 다크모드 지원
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/CustomTheme.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarView.kt
Labels: Library, Layout

#143 기본 캘린더 db 파일 추가
  app/src/main/assets/default.db
  app/src/main/java/com/drunkenboys/calendarun/di/LocalDatabaseModule.kt
Labels: App, chore

#144 DatePicker 통일
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/model/CheckPointItem.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/util/DateConverter.kt
  app/src/main/res/layout/fragment_save_calendar.xml
  app/src/main/res/layout/item_check_point.xml
Labels: App, refactor

#153 ID 전달 방식 변경
  app/src/main/java/com/drunkenboys/calendarun/SavedStateKeys.kt
  app/src/main/java/com/drunkenboys/calendarun/data/idstore/IdStore.kt
  app/src/main/java/com/drunkenboys/calendarun/di/AppModule.kt
  app/src/main/java/com/drunkenboys/calendarun/di/Qualifiers.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/dayschedule/DayScheduleDialog.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/dayschedule/DayScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleViewModel.kt
  app/src/main/res/layout/fragment_main_calendar.xml
  app/src/main/res/navigation/nav_main.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModelTest.kt
Labels: App, refactor, test

#154 Flow 확장함수 수정
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/FragmentExt.kt
Labels: App, refactor

#155 SaveScheduleViewModel 초기화 로직 수정
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/util/DateConverter.kt
  app/src/main/java/com/drunkenboys/calendarun/util/DatePickerDialog.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/FragmentExt.kt
Labels: App, refactor

#161 Compose Preview를 위해 파일 분리
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/CalendarLazyColumn.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/DayText.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthCalendar.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthHeader.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/PaddingText.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/ScheduleText.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/WeekHeader.kt
Labels: Library, Layout

#158 DrawerListener 추가
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
Labels: Feature, App, refactor

#162 yearCalendar 스케줄관리 리팩토링
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarViewModel.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/CalendarLazyColumn.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/DayText.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthCalendar.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/PaddingText.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/ScheduleText.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/WeekHeader.kt
Labels: bug, Library

#166 달력 관리 화면
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/ManageCalendarAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/ManageCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/ManageCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/model/CalendarItem.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/util/HorizontalInsetDividerDecoration.kt
  app/src/main/res/layout/fragment_manage_calendar.xml
  app/src/main/res/layout/fragment_save_calendar.xml
  app/src/main/res/layout/item_calendar.xml
  app/src/main/res/menu/menu_manage_calendar_toolbar.xml
  app/src/main/res/navigation/nav_main.xml
  app/src/main/res/values/strings.xml
Labels: Feature, App, Layout

#167 내비게이션 충돌 해결
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/FlowExt.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/NavigationExt.kt
Labels: bug, App

#170 월 달력 Attribute 속성 추가
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthAdapter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthPageAdapter.kt
  library/src/main/res/values/attrs.xml
Labels: Feature, Library

#168 연달력 버그 수정
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarViewModel.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/CalendarLazyColumn.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthCalendar.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/ScheduleText.kt
Labels: bug, Library, refactor

#174 라이브러리 배포용 build.gradle 설정
  build.gradle
  library/build.gradle
Labels: 🔥Hot Fix, Library, chore

#175 jdk 오류로 jitpack.yml 추가
  jitpack.yml
Labels: 🔥Hot Fix, Library

#172 일주일 보여주는 뷰 추가
  library/src/main/java/com/drunkenboys/ckscalendar/WeekCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/weekcalendar/WeekCalendar.kt
  library/src/main/res/layout/layout_week_calendar.xml
Labels: Library, Layout

#176 라이브러리 제공함수 구현
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarViewModel.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/CalendarLazyColumn.kt
Labels: Feature, Library

#180 compose 전용 gravity mapper 구현
  library/src/main/java/com/drunkenboys/ckscalendar/utils/GravityMapper.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/CalendarLazyColumn.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/DayText.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthCalendar.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/PaddingText.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/WeekHeader.kt
Labels: Library

#178 달력, 체크 포인트 삭제 기능 구현
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/DeleteCalendarDialog.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/ManageCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/ManageCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/model/CalendarItem.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/model/CheckPointItem.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/DeleteScheduleDialog.kt
  app/src/main/res/layout/item_calendar.xml
  app/src/main/res/layout/item_check_point.xml
  app/src/main/res/menu/menu_manage_calendar_toolbar.xml
  app/src/main/res/menu/menu_save_schedule_toolbar.xml
  app/src/main/res/navigation/nav_main.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/com/drunkenboys/calendarun/data/schedule/local/FakeCalendarLocalDataSource.kt
Labels: Feature, App, test

#185 자동 스크롤 추가
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/res/layout/fragment_save_calendar.xml
Labels: 🔥Hot Fix, App

#183 연달력 무한스크롤 (기본캘린더만)
  library/src/main/java/com/drunkenboys/ckscalendar/FakeFactory.kt
  library/src/main/java/com/drunkenboys/ckscalendar/utils/ComposeStateExtensions.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarViewModel.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/CalendarLazyColumn.kt
Labels: Feature, Library

#186 테마 변경 기능 구현
  app/src/main/assets/default.db
  app/src/main/java/com/drunkenboys/calendarun/data/calendartheme/entity/CalendarTheme.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendartheme/local/CalendarThemeDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendartheme/local/CalendarThemeLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendartheme/local/CalendarThemeLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/data/room/Database.kt
  app/src/main/java/com/drunkenboys/calendarun/di/DataSourceModule.kt
  app/src/main/java/com/drunkenboys/calendarun/di/LocalDatabaseModule.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/theme/CalendarThemeMapper.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/theme/ThemeFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/theme/ThemeResetDialog.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/theme/ThemeViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/view/ExpandableLinearLayout.kt
  app/src/main/res/drawable/ic_list.xml
  app/src/main/res/drawable/ic_refresh.xml
  app/src/main/res/layout/fragment_theme.xml
  app/src/main/res/menu/menu_theme_toolbar.xml
  app/src/main/res/navigation/nav_main.xml
  app/src/main/res/values/strings.xml
Labels: Feature, App

#188 MonthCalendarView 무한 스크롤 기능 구현
  library/src/main/java/com/drunkenboys/ckscalendar/data/CalendarSet.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthCellFactory.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthPageAdapter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/utils/DateConverter.kt
  library/src/main/res/values/strings.xml
Labels: Feature, Library

#189 체크포인트로 달력 나누는 기능 구현
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/util/DateConverter.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/FragmentExt.kt
Labels: Feature, App, Layout

#196 체크 포인트가 제대로 동작안하는 버그 수정
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarViewModel.kt
  library/build.gradle
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthCellFactory.kt
Labels: bug, 🔥Hot Fix, Library, App, chore, Layout

#206 달력, 체크포인트 입력 수정
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/entity/CheckPoint.kt
  app/src/main/java/com/drunkenboys/calendarun/data/room/Database.kt
  app/src/main/java/com/drunkenboys/calendarun/di/LocalDatabaseModule.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/model/CheckPointItem.kt
  app/src/main/res/layout/fragment_save_calendar.xml
  app/src/main/res/layout/item_check_point.xml
  app/src/main/res/values/strings.xml
Labels: App, refactor

#212 ExpandableLayout 연속 터치 버그 수정
  app/src/main/java/com/drunkenboys/calendarun/view/ExpandableLinearLayout.kt
Labels: bug, App

#216 오전, 오후 표기 추가
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/model/DateScheduleItem.kt
  app/src/main/java/com/drunkenboys/calendarun/util/DateConverter.kt
Labels: Feature, App

#217 연달력 슬라이스 기능 구현
  library/src/main/java/com/drunkenboys/ckscalendar/utils/CalendarSetConverter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/weekcalendar/WeekCalendar.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarViewModel.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/CalendarLazyColumn.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthCalendar.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthHeader.kt
  library/src/test/java/com/drunkenboys/ckscalendar/utils/CalendarSetConverterTest.kt
Labels: bug, Feature, Library, test

#218 일정의 제목이 비어있을 때 에러 가이드 추가
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/view/ErrorGuideEditText.kt
  app/src/main/res/layout/fragment_save_schedule.xml
  app/src/main/res/values/colors.xml
Labels: Feature, App

#221 달력 전환 애니메이션 추가
  app/build.gradle
  app/src/main/assets/switching_calendar.json
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/LoadingDialog.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/res/layout/dialog_loading.xml
  build.gradle
Labels: Feature, App, chore, Layout

#223 테마 첫 페이지에 적용 안되는 문제 수정
  library/src/main/java/com/drunkenboys/ckscalendar/month/MonthPageAdapter.kt
Labels: bug, Library

#225 Flow 확장함수 리팩터링
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/FragmentExt.kt
Labels: App, refactor

#228 캘린더가 삭제되면 기본 캘린더로 이동
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
Labels: bug, App

#233 알림 기능 추가 구현
  app/src/main/java/com/drunkenboys/calendarun/MainActivity.kt
  app/src/main/java/com/drunkenboys/calendarun/receiver/BootReceiver.kt
  app/src/main/java/com/drunkenboys/calendarun/receiver/ScheduleAlarmReceiver.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModel.kt
  app/src/test/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModelTest.kt
Labels: Feature, App, test

#231 연달력 월표시 입체감 추가
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthHeader.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/WeekHeader.kt
Labels: Library

#235 ThemeFragment TextAlign 기본값 Center로 변경
  app/src/main/java/com/drunkenboys/calendarun/ui/theme/ThemeFragment.kt
  library/src/main/java/com/drunkenboys/ckscalendar/data/CalendarDesignObject.kt
Labels: Library, App

#239 기본 달력 추가 UX, 빈 입력 알려주는 UX 추가
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/model/CheckPointItem.kt
  app/src/main/java/com/drunkenboys/calendarun/view/ErrorGuideTextView.kt
  app/src/main/res/layout/fragment_save_calendar.xml
  app/src/main/res/layout/item_check_point.xml
  app/src/main/res/values/strings.xml
Labels: Feature, App, Layout

#240 Flow 확장함수 리팩터링
  app/src/main/java/com/drunkenboys/calendarun/ui/dayschedule/DayScheduleDialog.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/ManageCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/theme/ThemeFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/FragmentExt.kt
Labels: App, refactor

#241 기본캘린더가 아닐 때 월 표시 추가
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarViewModel.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/CalendarLazyColumn.kt
Labels: Library

#243 다크 테마 수정
  app/src/main/java/com/drunkenboys/calendarun/ui/dayschedule/DayScheduleDialog.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/DeleteScheduleDialog.kt
  app/src/main/java/com/drunkenboys/calendarun/view/ColorIndicatorTextView.kt
  app/src/main/res/drawable/bg_on_surface_radius_8dp.xml
  app/src/main/res/drawable/bg_tag_color_black_stroke_grey.xml
  app/src/main/res/drawable/bg_tag_color_white_stroke_grey.xml
  app/src/main/res/layout/dialog_day_schedule.xml
  app/src/main/res/layout/fragment_save_schedule.xml
  app/src/main/res/layout/fragment_theme.xml
  app/src/main/res/layout/item_date.xml
  app/src/main/res/layout/view_color_set.xml
  app/src/main/res/layout/view_pick_tag_color.xml
  app/src/main/res/values-night/themes.xml
Labels: App, Layout

#245 달이 바뀌는 첫번 째 날짜에는 월 정보 병행 표기
  app/src/main/res/layout/fragment_main_calendar.xml
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthAdapter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthCellFactory.kt
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthPageAdapter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/OnDaySelectStateListener.kt
  library/src/main/res/values-night/colors.xml
  library/src/main/res/values/colors.xml
Labels: Feature, Library, App, refactor

#246 월표시 2트
  library/src/main/java/com/drunkenboys/ckscalendar/weekcalendar/WeekCalendar.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/CalendarLazyColumn.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/DayText.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthCalendar.kt
Labels: Feature, Library, Layout

#247 오픈소스 라이브리리 라이센스 화면 추가
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/res/drawable/ic_license.xml
  app/src/main/res/layout/fragment_save_calendar.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
  build.gradle
Labels: Feature, App, chore, Layout

#259 기본 캘린더 삭제할 수 없도록 수정
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/ManageCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/ManageCalendarViewModel.kt
  app/src/test/java/com/drunkenboys/calendarun/data/schedule/local/FakeCalendarLocalDataSource.kt
Labels: bug, 🔥Hot Fix, App, test

#264 연달력에 CalendarSet 연결
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
Labels: 🔥Hot Fix, App

#266 연달력 두번클릭 리스너 추가
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
Labels: 🔥Hot Fix, App

#249 일정 검색 리사이클러뷰 데이터 타입 변경
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/dayschedule/DayScheduleAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/dayschedule/DayScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleDivider.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/model/DateItem.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/model/DateScheduleItem.kt
  app/src/main/java/com/drunkenboys/calendarun/util/DateConverter.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/FragmentExt.kt
  app/src/main/res/layout/dialog_day_schedule.xml
  app/src/main/res/layout/item_date.xml
  app/src/main/res/layout/item_schedule.xml
  app/src/test/java/com/drunkenboys/calendarun/data/schedule/local/FakeScheduleLocalDataSource.kt
  app/src/test/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleViewModelTest.kt
Labels: App, refactor, test

#268 달력 추가 관련 오류 수정
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/view/ErrorGuideTextView.kt
  app/src/main/res/layout/fragment_save_calendar.xml
Labels: bug, App

#265 연달력 다크모드 처리
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/CustomTheme.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarView.kt
Labels: Library

#267 연달력 일정 정렬 & 테두리에 글씨 가리는 버그 해결
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarViewModel.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/CalendarLazyColumn.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/DayText.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/ScheduleText.kt
Labels: bug, Library, Layout

#269 일정 검색 페이징
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleViewModel.kt
  app/src/test/java/com/drunkenboys/calendarun/data/schedule/local/FakeScheduleLocalDataSource.kt
Labels: Feature, App, refactor, test

#273 달력 수정 버그 픽스
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
  app/src/test/java/com/drunkenboys/calendarun/data/schedule/local/FakeCalendarLocalDataSource.kt
Labels: bug, Feature, App, test

#275 달력 상태저장 기능구현
  library/build.gradle
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthPageAdapter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthState.kt
Labels: bug, Feature, Library, chore

#277 년달력 격자 추가
  library/src/main/java/com/drunkenboys/ckscalendar/weekcalendar/WeekCalendar.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/CalendarLazyColumn.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthCalendar.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/PaddingText.kt
Labels: Feature, Library, Layout

#279 커스텀 캘린더를 추가할 때 앱이 꺼지는 버그 수정
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
Labels: bug, 🔥Hot Fix, App

#286 날짜 표시 형식 변경
  app/src/main/java/com/drunkenboys/calendarun/ui/dayschedule/DayScheduleAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/dayschedule/DayScheduleDialog.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/model/DateScheduleItem.kt
  app/src/main/java/com/drunkenboys/calendarun/util/DateConverter.kt
  app/src/main/res/layout/item_schedule.xml
Labels: Feature, App, refactor

#282 MainCalendarFragment, MainCalendarViewModel 리팩터링
  app/src/main/java/com/drunkenboys/calendarun/MainActivity.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/receiver/BootReceiver.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/dayschedule/DayScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/ManageCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/drawer_header.xml
  app/src/main/res/layout/fragment_main_calendar.xml
  app/src/main/res/menu/menu_main_calendar_nav_drawer.xml
  app/src/main/res/navigation/nav_main.xml
  app/src/test/java/com/drunkenboys/calendarun/data/schedule/local/FakeCalendarLocalDataSource.kt
  app/src/test/java/com/drunkenboys/calendarun/data/schedule/local/FakeScheduleLocalDataSource.kt
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthState.kt
Labels: Feature, Library, App, refactor, test

#291 일정이 이상하게 보여지는 버그 수정
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthAdapter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthCellPositionStore.kt
Labels: bug, Feature, Library, App

#298 슬라이스 정렬 코드 개선
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/res/layout/fragment_save_calendar.xml
Labels: App, refactor

#295 DateRangePicker 구현, Empty 화면 추가
  app/src/main/java/com/drunkenboys/calendarun/ui/dayschedule/DayScheduleDialog.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/ManageCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/FragmentExt.kt
  app/src/main/res/layout/dialog_day_schedule.xml
  app/src/main/res/layout/fragment_manage_calendar.xml
  app/src/main/res/layout/item_check_point.xml
Labels: Feature, App, Layout

#300 연달력 상태저장
  library/src/main/java/com/drunkenboys/ckscalendar/utils/ComposeStateExtensions.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarView.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarViewModel.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/CalendarLazyColumn.kt
Labels: Feature, Library

#301 일정 검색 버그 수정
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleViewModel.kt
  app/src/test/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleViewModelTest.kt
Labels: bug, App, test

#304 연달력 일정 시작 패딩
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/ScheduleText.kt
Labels: bug, Library, Layout

#306 연달력 월표시 테마대응
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthCalendar.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthHeader.kt
Labels: bug, Library

#307 Flow 로직 개선
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/calendar/local/CalendarLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/dayschedule/DayScheduleDialog.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/dayschedule/DayScheduleViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/ManageCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/ManageCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/model/CalendarItem.kt
  app/src/test/java/com/drunkenboys/calendarun/data/schedule/local/FakeCalendarLocalDataSource.kt
Labels: App, refactor, test

#309 연달력 일정을 덮는 테두리버그 수정
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/CalendarLazyColumn.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthCalendar.kt
Labels: bug, Library

#310 월달력 버그 수정 및 연도 보여주는 기능 구현
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthAdapter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthCellFactory.kt
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthHeaderItemDecorator.kt
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthPageAdapter.kt
  library/src/main/res/values/colors.xml
Labels: bug, Feature, Library

#311 앱 위젯 절반 구현
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/drunkenboys/calendarun/CalendaRunAppWidget.kt
  app/src/main/java/com/drunkenboys/calendarun/CalendaRunRemoteViewsFactory.kt
  app/src/main/java/com/drunkenboys/calendarun/CalendaRunRemoteViewsService.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/schedule/local/ScheduleLocalDataSourceImpl.kt
  app/src/main/res/drawable-v21/app_widget_background.xml
  app/src/main/res/drawable-v21/app_widget_inner_view_background.xml
  app/src/main/res/layout/calendarun_app_widget.xml
  app/src/main/res/layout/item_app_widget_schedule.xml
  app/src/main/res/values-night-v31/themes.xml
  app/src/main/res/values-v21/styles.xml
  app/src/main/res/values-v31/styles.xml
  app/src/main/res/values-v31/themes.xml
  app/src/main/res/values/attrs.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
  app/src/main/res/values/themes.xml
  app/src/main/res/xml-v31/calenda_run_app_widget_info.xml
  app/src/main/res/xml/calenda_run_app_widget_info.xml
  app/src/test/java/com/drunkenboys/calendarun/data/schedule/local/FakeScheduleLocalDataSource.kt
Labels: Feature, App, chore, Layout, test

#313 연달력 오늘 날짜 표시
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/CalendarLazyColumn.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/DayText.kt
Labels: Library, Layout

#315 연달력 격자색 조정
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthCalendar.kt
Labels: Library

#317 연달력 성능 개선
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/CalendarLazyColumn.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/DayText.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthCalendar.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/ScheduleText.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/WeekCalendar.kt
Labels: bug, Library

#318 연달력 스크롤 기능 수정
  library/src/main/java/com/drunkenboys/ckscalendar/utils/ComposeStateExtensions.kt
Labels: Library

#325 디자인 리메이크, 다크모드 색상표 적용
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/ManageCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/util/DateConverter.kt
  app/src/main/res/drawable/btn_rect_black_background.xml
  app/src/main/res/drawable/ic_baseline_check_box_24.xml
  app/src/main/res/drawable/ic_baseline_check_box_outline_blank_24.xml
  app/src/main/res/drawable/selector_check_box_18.xml
  app/src/main/res/layout/dialog_day_schedule.xml
  app/src/main/res/layout/fragment_main_calendar.xml
  app/src/main/res/layout/fragment_manage_calendar.xml
  app/src/main/res/layout/fragment_save_calendar.xml
  app/src/main/res/layout/fragment_save_schedule.xml
  app/src/main/res/layout/fragment_search_schedule.xml
  app/src/main/res/layout/item_calendar.xml
  app/src/main/res/layout/item_check_point.xml
  app/src/main/res/layout/item_date.xml
  app/src/main/res/layout/item_schedule.xml
  app/src/main/res/values-night/colors.xml
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: App

#327 연달력 격자 어긋남 해결
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/WeekCalendar.kt
Labels: Library
