Repository boostcampwm-2021/android01-CalendaRun, pull requests merged in 2021-12, with the labels that each got.

#329 Manifest String 리소스 제거
  app/src/main/AndroidManifest.xml
Labels: 🔥Hot Fix, App

#336 공휴일 추가
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/drunkenboys/calendarun/MainActivity.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/ResponseHolidayInfo.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/entity/Holiday.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/local/HolidayDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/local/HolidayLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/local/HolidayLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/remote/HolidayRemoteDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/remote/HolidayRemoteDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/remote/HolidayRemoteService.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/repository/HolidayRepository.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/repository/HolidayRepositoryImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/data/room/Database.kt
  app/src/main/java/com/drunkenboys/calendarun/di/DataSourceModule.kt
  app/src/main/java/com/drunkenboys/calendarun/di/HolidayRetrofitServiceModule.kt
  app/src/main/java/com/drunkenboys/calendarun/di/LocalDatabaseModule.kt
  app/src/main/java/com/drunkenboys/calendarun/di/RepositoryModule.kt
  app/src/main/java/com/drunkenboys/calendarun/di/RetrofitModule.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/NetworkStateUtil.kt
  library/src/main/java/com/drunkenboys/ckscalendar/data/CalendarScheduleObject.kt
Labels: Feature, App, Layout

#328 슬라이스, 달력 삭제 버튼 조건에 따라 Visible 변경
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/ManageCalendarAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/ManageCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/res/layout/item_calendar.xml
Labels: Feature, App, Layout

#338 연달력 공휴일 지원
  library/src/main/java/com/drunkenboys/ckscalendar/utils/CalendarSetConverter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/weekcalendar/WeekCalendar.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/CalendarLazyColumn.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthCalendar.kt
Labels: Library, Layout

#330 캘린더 삭제 크래시 해결
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/ManageCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/managecalendar/ManageCalendarViewModel.kt
Labels: bug, App

#331 일정 삭제 크래시 해결
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModel.kt
Labels: bug, App

#334 연달력 격자 패딩문제 수정
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/DayText.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/WeekCalendar.kt
Labels: Library

#339 앱바 공유버튼 삭제
  app/src/main/res/menu/menu_main_calendar_toolbar.xml
Labels: App, Layout

#340 앱 설정, 앱 정보 화면 추가 및 navigation 설정
  app/src/main/java/com/drunkenboys/calendarun/ui/appinfo/AppInfoFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/setting/SettingFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/setting/SettingViewModel.kt
  app/src/main/res/layout/drawer_header.xml
  app/src/main/res/layout/fragment_app_info.xml
  app/src/main/res/layout/fragment_setting.xml
  app/src/main/res/menu/menu_main_calendar_nav_drawer.xml
  app/src/main/res/navigation/nav_main.xml
  app/src/main/res/values/strings.xml
Labels: Feature, App, Layout

#343 연달력 공휴일 테마 고정
  library/src/main/java/com/drunkenboys/ckscalendar/utils/CalendarSetConverter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/ScheduleText.kt
Labels: App, Layout

#341 테스트 코드 추가
  app/src/test/java/com/drunkenboys/calendarun/data/calendar/local/FakeCalendarLocalDataSource.kt
  app/src/test/java/com/drunkenboys/calendarun/data/checkpoint/local/FakeCheckPointLocalDataSource.kt
  app/src/test/java/com/drunkenboys/calendarun/data/schedule/local/FakeCalendarLocalDataSource.kt
  app/src/test/java/com/drunkenboys/calendarun/data/schedule/local/FakeScheduleLocalDataSource.kt
  app/src/test/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModelTest.kt
  app/src/test/java/com/drunkenboys/calendarun/ui/saveschedule/SaveScheduleViewModelTest.kt
  app/src/test/java/com/drunkenboys/calendarun/ui/searchschedule/SearchScheduleViewModelTest.kt
Labels: App, test

#346 TextAlign 기본 값 수정
  app/src/main/assets/default.db
Labels: bug, App

#347 위젯 스타일 변경
  app/src/main/java/com/drunkenboys/calendarun/CalendaRunAppWidget.kt
  app/src/main/java/com/drunkenboys/calendarun/CalendaRunRemoteViewsFactory.kt
  app/src/main/res/layout/calendarun_app_widget.xml
  app/src/main/res/layout/item_app_widget_schedule.xml
  app/src/main/res/values/strings.xml
Labels: App, Layout

#350 용어 변겅 CheckPoint -> Slice
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/checkpoint/local/CheckPointLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/data/room/Database.kt
  app/src/main/java/com/drunkenboys/calendarun/data/slice/entity/Slice.kt
  app/src/main/java/com/drunkenboys/calendarun/data/slice/local/SliceDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/slice/local/SliceLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/slice/local/SliceLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/di/DataSourceModule.kt
  app/src/main/java/com/drunkenboys/calendarun/di/LocalDatabaseModule.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarAdapter.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarFragment.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/model/SliceItem.kt
  app/src/main/res/layout/fragment_save_calendar.xml
  app/src/main/res/layout/item_slice.xml
  app/src/main/res/menu/menu_save_calendar_toolbar.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/com/drunkenboys/calendarun/data/checkpoint/local/FakeCheckPointLocalDataSource.kt
  app/src/test/java/com/drunkenboys/calendarun/data/slice/local/FakeSliceLocalDataSource.kt
  app/src/test/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModelTest.kt
Labels: App, refactor, test

#354 슬라이스에서 한달보다 작은 경우 무조건 한달을 채우는 버그 수정
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthCellFactory.kt
Labels: Library

#357 데모용 페이크 데이터 추가
  app/src/main/assets/boostcamp.db
  app/src/main/java/com/drunkenboys/calendarun/fake/FakeCalendar.kt
  app/src/main/java/com/drunkenboys/calendarun/fake/FakeSchedules.kt
  app/src/main/java/com/drunkenboys/calendarun/fake/FakeSlices.kt
Labels: App, chore

#362 공휴일 기능 구현
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/drunkenboys/calendarun/MainActivity.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/ResponseHolidayInfo.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/entity/Holiday.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/local/HolidayDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/local/HolidayLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/local/HolidayLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/remote/HolidayRemoteDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/remote/HolidayRemoteDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/remote/HolidayRemoteService.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/repository/HolidayRepository.kt
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/repository/HolidayRepositoryImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/data/room/Database.kt
  app/src/main/java/com/drunkenboys/calendarun/di/DataSourceModule.kt
  app/src/main/java/com/drunkenboys/calendarun/di/HolidayRetrofitServiceModule.kt
  app/src/main/java/com/drunkenboys/calendarun/di/LocalDatabaseModule.kt
  app/src/main/java/com/drunkenboys/calendarun/di/RepositoryModule.kt
  app/src/main/java/com/drunkenboys/calendarun/di/RetrofitModule.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/util/extensions/NetworkStateUtil.kt
  library/src/main/java/com/drunkenboys/ckscalendar/data/CalendarScheduleObject.kt
  library/src/main/java/com/drunkenboys/ckscalendar/weekcalendar/WeekCalendar.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthCalendar.kt
Labels: Feature, App, Layout

#365 연달력 일정 복사되는 버그 해결
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/YearCalendarViewModel.kt
Labels: bug, Library

#366 공휴일 색상 및 배경 색 지정
  app/src/main/java/com/drunkenboys/calendarun/data/holiday/remote/HolidayRemoteDataSourceImpl.kt
  library/src/main/java/com/drunkenboys/ckscalendar/data/CalendarScheduleObject.kt
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthAdapter.kt
Labels: Feature, Library, App

#369 연달력 공휴일 복구
  library/src/main/java/com/drunkenboys/ckscalendar/utils/CalendarSetConverter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/weekcalendar/WeekCalendar.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/CalendarLazyColumn.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthCalendar.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/ScheduleText.kt
Labels: Library

#364 월달력 오늘 날짜 표시
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthAdapter.kt
  library/src/main/java/com/drunkenboys/ckscalendar/monthcalendar/MonthPageAdapter.kt
  library/src/main/res/drawable/bg_calendar_line_05px.xml
  library/src/main/res/drawable/bg_calendar_today.xml
  library/src/main/res/layout/item_month_cell.xml
  library/src/main/res/layout/item_month_page.xml
  library/src/main/res/values/colors.xml
Labels: Feature, Library

#371 슬라이스 수정, 삭제 오류 수정
  app/src/main/java/com/drunkenboys/calendarun/data/slice/local/SliceDao.kt
  app/src/main/java/com/drunkenboys/calendarun/data/slice/local/SliceLocalDataSource.kt
  app/src/main/java/com/drunkenboys/calendarun/data/slice/local/SliceLocalDataSourceImpl.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/maincalendar/MainCalendarViewModel.kt
  app/src/main/java/com/drunkenboys/calendarun/ui/savecalendar/SaveCalendarViewModel.kt
Labels: bug, App

#373 테스트 코드 구현 추가
  app/src/test/java/com/drunkenboys/calendarun/data/slice/local/FakeSliceLocalDataSource.kt
Labels: 🔥Hot Fix, App

#374 테스트 코드 수정, 라이브러리 버전 0.0.4로 업데이트
  library/build.gradle
  library/src/test/java/com/drunkenboys/ckscalendar/utils/CalendarSetConverterTest.kt
Labels: 🔥Hot Fix, Library, App

#376 연달력 년도 표시로직 수정
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/CalendarLazyColumn.kt
Labels: bug, Library

#382 연달력 리팩토링
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/BaseText.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/CalendarLazyColumn.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/DayText.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthCalendar.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/MonthHeader.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/ScheduleText.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/WeekCalendar.kt
  library/src/main/java/com/drunkenboys/ckscalendar/yearcalendar/composeView/WeekHeader.kt
Labels: Library, refactor
